
@{
    ViewBag.Title = "AjaxTest";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<h2>AjaxTest</h2>
@Ajax.ActionLink("Load More Posts", "MorePosts", new AjaxOptions()
{
    HttpMethod = "GET",
    UpdateTargetId = "postswrapper",
    InsertionMode = InsertionMode.Replace
    
})

<div id="postswrapper"></div>
