@{
    ViewBag.Title = "Home Page";
}
@model IEnumerable<WsmsQuiz.ViewModels.QuestionAnswerViewModel>

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    foreach (var m in Model)
    {
        <p>@m.QuizSessionName</p>
        for (int i = 0; i < m.GeneralQuestions.Count; i++)
        {
            int questionCount = @i + 1;
            var question = m.GeneralQuestions[i];
            <div>
               Question No.= @questionCount @Html.Label(question.QuizQuestionName)
            </div>
            
            <br />
            foreach (var answer in question.PossibleAnswers)
            {
                @Html.RadioButtonFor(model =>
             m.GeneralQuestions[i].QuizQuestionID, answer.Id)
                @Html.Label(answer.Answer)
                <br />
            }
        }
    }

    <input type="submit" value="Save" />
}
