
@{
    ViewBag.Title = "LoginPage";
}

<h2>LoginPage</h2>
<div class="container">
<div class="row">
            @model WsmsQuiz.ViewModels.LoginPageVM

            @using (Html.BeginForm("LoginPage", "Home", FormMethod.Post))
            {

               @Html.EditorFor(m => m)

                <input type="submit" value="Save" class="submit" />
            }

        </div>
    </div>

