@model List<WsmsQuiz.ViewModels.QuestionViewModel>
           
@foreach (var question in Model)
{
    <div class="post">
        <div>>@question.QuestionName</div>
        <div>@question.Answer1</div>
    </div>
    <hr />
}

