@model WsmsQuiz.ViewModels.QuizAdminViewModel
@{
    
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript">
        function OnBeginRequest() {
            alert('On Begin');
        }
        function OnCompleteRequest() {
            alert('On Completed');
        }
        function OnSuccessRequest() {
            alert('On Success');
        }
        function OnFailureRequest() {
            alert('On Failure');
        }
    </script>

    @{
        AjaxOptions options = new AjaxOptions();
        options.HttpMethod = "POST";
        options.OnBegin = "OnBeginRequest";
        options.OnSuccess = "OnSuccessRequest";
        options.OnComplete = "OnCompleteRequest";
        options.OnFailure = "OnFailureRequest";
        options.Confirm = "Do you want to Add Country ?";
    }

    @using (Ajax.BeginForm("AddCountries", "Home", options))
    {
        @Html.ValidationSummary(true)
        <fieldset>
            <legend>Countries</legend>
            <div class="editor-label">
                @Html.LabelFor(model => model.CountriesName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.CountriesName)
            </div>
            <p><input type="submit" value="Create" /></p>
        </fieldset>
    }
  
