@model List<MVC.Models.ClientModel>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>


@using (@Html.BeginForm("Index", "Home", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    for (int i = 0; i < Model.Count; i++)
    {

        @Html.TextBoxFor(x => Model[i].NumberofClient)
        @Html.ValidationMessageFor(m => Model[i].NumberofClient)
        <br />
    }
    <input type="submit" text="akash" />
}

