@{
    ViewBag.Title = "Home Page";
}

<div>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript">
        $(function () {
           // var data = "1";
            var data = {
              //  Id:100,
                Name: "akash",
                Deleted: false,
                Polygon: [
                    {
                      //  Id:1,
                        Latitude: 48.30055320091479,
                        Longitude: 25.914092659950256
                    },
                    {
                       // Id: 2,
                        Latitude: 48.30055320091479,
                        Longitude: 25.914092659950256
                    },
                    {
                       // Id: 3,
                        Latitude: 48.30055320091479,
                        Longitude: 25.914092659950256
                    }
                ]
            };

            $.ajax({
                type: "post",
               // dataType: "json",
                url: '/Home/AddDistrict',
                data: {district: data},
                success: function(dat) {
                    console.log('success');
                    console.log(dat);
                },
                error: function (dat) {
                    console.log('error');
                    console.log(dat);
                }
            });

        });
    </script>
</div>
