@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>

<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<div class="container">
    <div class="row">
        @model Mvc5Practice.ViewModels.LoginPageVM

        @using (Html.BeginForm("LoginPage", "Home", FormMethod.Post))
        {
            
           @Html.EditorFor(m => m)
            
            <input type="submit" value="Save" class="submit" />
        }

    </div>

</div>